<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <input placeholder="Name" type="text" th:field ="*{name}" id="name"/>
    <br/>
    <input id="lastName" placeholder="Last name" th:field="*{lastName}" type="text"/>
    <br/>
    <input placeholder="Email" type="text" th:field ="*{email}" id="email"/>
    <br/>
    <input placeholder="Age" type="text" th:field ="*{age}" id="age"/>
    <br/>
    <input placeholder="User Name" type="text" th:field ="*{userName}" id="userName"/>
    <p th:if="${userNameError}" class="error">Wrong user or password</p>
    <br/>
    <input placeholder="Password" type="text" th:field ="*{password}" id="password"/>
    <br/>
    <input placeholder="Password confirm" type="text" th:field ="*{passwordConfirm}" id="passwordConfirm"/>
    <br/>
    <input type="submit" value="Create new!"/>
</form>
<br/>
<hr/>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Выйти"></input>
</form>
</body>
</html>